/**
 * Label styles
 * Based on shadcn/ui Label
 */

.label {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  color: hsl(var(--foreground));
}

.label[data-disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

.required {
  color: hsl(var(--destructive));
  margin-left: 0.25rem;
}

.error {
  color: hsl(var(--destructive));
}
